foodshopeight_be/.env
venv
# Python cache
__pycache__/
*.py[cod]
*$py.class

# Venv / IDE
venv/
.env
*.env
.idea/
.vscode/
*.code-workspace

# Build/static/runtime
static_root/
media/
gunicorn.sock
celerybeat-schedule*
*.log

# Hệ điều hành
.DS_Store
Thumbs.db

venv